body {
  background-image: url(../assets/imag/wallpaperflare.com_wallpape.jpg);
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-session {
  background-color: #23010153;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0px 0px 8px rgba(121, 1, 1, 0.473);
  max-width: 350px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #f1f1f1;
}

input[type="text"],
input[type="number"],
input[type="submit"],
button {
  width: 100%;
  padding: 5px;
  margin-bottom: 6px;
  border: 1px solid #ca2d2daa;
  border-radius: 4px;
}

input[type="submit"],
button {
  background-color: #4caf50; 
  color: white; 
  cursor: pointer; 
}

input[type="submit"]:hover,
button:hover {
  background-color: #45a049; 
}
