
h2 {
    text-align: center;
    padding: 5px 0px;
    font-size: 2em;
    margin-bottom: 10px;
}

.startingSection, .importantDatesSection {
    position: relative;
    width: 100%;
    padding: 5px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .history, .actuality{
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 4px;

        p {
            line-height: 1.2;
        }
    }
    .actuality {
        min-height: 20vh;
    }
}

.importantDatesSection {
    margin-top: 30px;
    padding: 10px;

    h3 {
    text-align: center;
    font-size: 1.5em;
    }
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        row-gap: 5px;

        li {
            line-height: 1.2;
            list-style: circle;

            span {
                font-weight: bold;
            }
        }
    }
    
}
