body {
  background-image: url(../assets/imag/pxfuel.jpg);
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card-session {
  width: 400px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1), 0 1px 3px rgba(217, 6, 6, 0.991);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff7c;
  padding: 20px;
  color: rgb(8, 8, 8);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #626161;
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  width: 110%;
}

.login-form input[type="submit"] {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #c73803e0;
  color: #fff;
  border-radius: 10px;
  border: none;
  height: 40px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
  background-color: #410202;
}
