body {
  background-color: #141414;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logotipo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  color: #e50914;
  font-size: 45px;
  margin-right: 10px;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.6);
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 25px;
  font-size: 18px;
  display: inline-block;
  line-height: 30px;
}

header nav a:hover,
header nav a.activo {
  color: #fff;
}

.pelicula-principal {
  font-size: 17px;
  min-height: 44em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../assets/imag/backdrop1.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
}

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

.text-info {
  text-align: center;
  font-size: 60px;
  color: #841c26;
  margin-top: 25px;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.6);
}

/* .footer {
  background-color: #141414;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin-right: 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
}

.startingSection {
  color: white;
}

.importantDates {
  color: white;
} */

.card-container {
  display: flex;
  overflow-x: scroll;
}

.card {
  width: 250px;
  margin-right: 16px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-info {
  padding: 16px;
  text-align: center;
}
