@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #141414;
  font-family: "Open Sans", sans-serif;
}

/* GENERALES */
h3 {
  font-size: 50px;
  margin: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* ENCABEZADO Y NAVEGADOR */

header .logotipo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  color: #e50914;
  font-size: 50px;
  margin-right: 10px;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.6);
}

header .navbar a:hover {
  color: #fff;
}

.contenedor {
  position: absolute;
  top: 200px;
  right: 250px;
  width: 90%;
  padding: 200px;
  color: white;
  font-size: 20px;
}

.navbar {
  background-color: rgb(27, 27, 27);
  padding: 1rem;
}
.navbar .nav-item a {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-size: 25px;
  font-weight: 300;
  transition: all 400ms ease-in-out;
}
.navbar .nav-item a:hover {
  font-weight: 600;
  color: red;
}

/* IMAGEN DE PORTADA PRINCIPAL */
.pelicula-principal {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.267) 100%),
    url(../assets/imag/backdrop1.jpg);
  background-position: center center;
  background-size: cover;
}
/* COMPONENTES DE LA PORTADA PRINCIPAL */
.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

.text-info {
  text-align: center;
  font-size: 60px;
  color: #841c26;
  margin-top: 25px;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

/* SECCION DE CARTAS "TODAS LAS PELICULAS" */

section#allMovies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 500px;

}
.card {
  background-color: transparent;
  width: 380px;
  height: 400px;
  border-radius: 20px;
  border: none;

}

.card-image {
  border-radius: 20px;
}
.card-image:hover {
  cursor: pointer;
  box-shadow: 2px -1px 20px red;
}
.card-info {
  width: 100%;
  height: auto;
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.609);
  visibility: hidden;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
}

.card:hover .card-info {
  transform: translateY(-120px);
  transition: all ease-in-out 0.5s;
  visibility: visible;
}
.titulo {
  font-size: 22px;
}


