body {
  background-color: #141414;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
  height: 100%;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logotipo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  color: #e50914;
  font-size: 45px;
  margin-right: 10px;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.6);
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 25px;
  font-size: 21px;
  display: inline-block;
  line-height: 30px;
}

header nav a:hover {
  color: #fff;
}

.pelicula-principal {
  font-size: 17px;
  min-height: 44em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../assets/imag/backdrop1.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
}

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

.text-info {
  text-align: center;
  font-size: 60px;
  color: #841c26;
  margin-top: 25px;
  text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.6);
}

section#allMovies {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 500px;
}
.card {
  margin-left: 30px;

  width: 350px;
  height: 450px;
  background-color: #310106;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.card:hover {
  border: 2px solid red;
  box-shadow: 4px 4px 4px red;
}
.card-image {
  width: 80%;
  height: 380px;
  transition: 400ms all ease-in-out;
}
.card-image:hover {
  transform: scale(1.1);
}
.card-info {
  width: 88%;
  height: auto;
  color: white;
  margin: -40px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.534);
  visibility: hidden;
  text-align: center;
  border-radius: 10px;
}

.card:hover .card-info {
  transform: translateY(-35px);
  transition: all ease-in-out 0.5s;
  visibility: visible;
}
